#git ignore file

src/*.js
src/*.js.map
node_modules
wwwroot/*.js
wwwroot/*.js.map
components
bower_components
wwwroot/scripts
wwwroot/fonts
wwwroot/styles
wwwroot/lib
testCoverage/
testResults/
typings/